.container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  position: sticky;
  left: 20px;
  top: 20px;
  border-radius: 10px;
  background-color: transparent;
  animation: slideOut 0.8s ease-in-out;
}
button {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  border-radius: 8px;
  border: none;
  font-size: 1.2rem;
  background-color: rgb(71, 126, 73);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
  }
}
.container-button p {
  font-size: 1.2rem;
  margin: 0;
  color:#9CAF88;
  font-weight: bold;
  border: solid;
  padding: 5px;
  border-radius: 8px;
  margin-top: 2px;
  transition: ease-in-out 0.5s;
  animation: doublePulse 1.9s ease;
  background-color: aliceblue;
  &:hover{
    background-color: aliceblue;
    cursor: context-menu;
  }
}
@keyframes slideOut {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes doublePulse {
  0%, 100% {
    transform: scale(1);
    
  }
  15% {
    transform: scale(1.2);
    color: #e90c0c;
  }
  30% {
    transform: scale(1);
    color: inherit;
  }
  45% {
    transform: scale(1.2);
    color: #ce1c1c;
  }
  60% {
    transform: scale(1);

    
  }
}