.container-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  position: fixed;
  right: 50px;
  top: 100px;
}
button {
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
  border-radius: 8px;
  border: none;
  font-size: 1.1rem;
  background-color: rgb(71, 126, 73);
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.63);
  }
}
.container-button p {
  margin: 0;
  color: rgb(223, 130, 102);
  font-weight: bold;
}
