.card-style-2 {
  background: white;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  width: 320px;
  transition: border-color 0.3s;
  transition: 0.3s ease-in;
}

.card-style-2:hover {
  border-color: #ff6b6b;
  transform: scale(1.01);
  box-shadow: 0 8px 16px#ff6b6b;
}

.card-style-2 .card-image {
  border-radius: 5px;
  margin-top: 15px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-style-2 .card-content {
  padding: 20px;
}
.card-style-2 .card-content p{
  color: black;
}

.card-style-2 .card-content .card-title {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-bottom: 15px;
}

.buttons-style-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:flex-end;
  gap: 10px;
}

.buttons-style-2 .btn {
  /* flex: 1; */
  padding: 10px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}

.buttons-style-2 .btn-view {
  background: #ff6b6b;
  color: white;
  border: 2px solid #ff6b6b;
}

.buttons-style-2 .btn-view:hover {
  background: #ff5252;
  border-color: #ff5252;
}

.buttons-style-2 .btn-save {
  background: transparent;
  color: #ff6b6b;
  border: 2px solid #ff6b6b;
}
.buttons-style-2 .btn-save .spinner{
  margin-left: 0.5rem;
  display: inline-block;
animation: spin 2s linear infinite;
}

.buttons-style-2 .btn-save:hover {
  background: #ff6b6b;
  color: white;
}
.buttons-style-2 .btn-save.selected {
  background: transparent;
  color: #2e2525;
  border: 2px solid #2e2727ad;
  
}

.buttons-style-2 .btn-save.selected:hover {
  color: rgb(17, 16, 16);
  transform: translateY(0px);
  box-shadow: none;
}
.card-style-2.selected {
  background: white;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  width: 320px;
  border:solid 3px green;
  transition: border-color 0.3s;
}
.card-style-2.selected:hover{
  transform: none;
}

@keyframes spin {
  from {transform: rotate(0deg);}
  to{transform: rotate(360deg);}
}