.container-modal {
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  height: 100%;
  width: 80%;
  background-color: #fafafa;
  color: #2b2d42;
  border: solid 3px #2b2d42;
}
.close {
  border-radius: 10px;
  cursor: pointer;
  background-color: transparent;
  width: 50px;
  height: 50px;
  padding: 0;
}
.close img {
  border-radius: 10px;
  width: fit-content;
  height: 55px;
  transition: all 0.3s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.63);
  }
}
.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-ingredients {
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.container-prep {
  padding-left: 20%;
  padding-right: 20%;
}
