

form label {
  color: rgb(9, 73, 36);
  font-weight: bold;
  margin-right: 20px;
}
.search-text {
  color: black;
  background-color: aliceblue;
  border: solid 1px rgba(0, 128, 0, 0.274);
  box-shadow: 4px 4px 15px rgba(4, 65, 19, 0.452);
  width: 40%;
  padding: 10px;
  border-radius: 10px;
  margin: 20px 0px;
}
.search-text::placeholder {
  text-align: center;
}
input[type="submit"] {
  padding: 5px;
  width: 200px;
  font-size: 1.2rem;
  margin: auto;
  background-color: rgb(224, 233, 225);
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: rgb(6, 68, 27);
  transition: ease-in 0.3s;

  &:hover {
    cursor: pointer;
    color: aliceblue;
    background-color: rgb(5, 56, 39);
  }
}
.button-filter {
  background-color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.2s;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.63);
  }
}
.button-filter img {
  height: 40px;
}
.container-filter{
  margin-top: 10px;
  position: relative;
  left:50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background-color: rgba(27, 219, 37, 0.459);
  padding: 20px;
  border-radius: 10px;
  height: fit-content;
  width: fit-content;
  
  animation: slideDown 0.8s ease forwards;

}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateX(-50%) translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
}