#root {
  position: relative;
  top:5%;
  height: 1000px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1{
  position: relative;
  top: 10px;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
